In [ ]:
#soham Jagtap
#25070123170
#Exp 3: Study Of Tuple in Python

In [ ]:
tpl=(2,True,"Soham")
print(tpl)

(2, True, 'Soham')

In [ ]:
tpl2=("Apple","Banana","Orange")
print(tpl2[1])
print(tpl2[-2])

Banana
Banana

In [ ]:
tpl3=("Apple","Banana","Kiwi")
tpl3[1]= "kiwi"
print(tpl3)

#This Will Show An Error

In [ ]:
tpl4=("Symbiosis",)*5
print(tpl4)

('Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis')

list =["Symbiosis"]*5
print(list)

In [35]:
tpl5=("Apple","Banana","Orange")
print("Before: ",id(tpl5))
tpl6=("Kiwi",)
print("After: ",id(tpl5))
tpl7+=tpl6
print(tpl5)

Before:  132005597541824
After:  132005597541824
('Apple', 'Banana', 'Orange')

***Question 1***

In [38]:
mark=(90,82,66,76,33)
print(len(mark))
print(min(mark))
print(max(mark))
print(sum(mark))
print(sum(mark)/len(mark))
print(sorted(mark))
print(mark)

5
33
90
347
69.4
[33, 66, 76, 82, 90]
(90, 82, 66, 76, 33)

***Question 2***

In [49]:
result =("Maths",80,"A")
subject,marks,grade = result
print("subject: ",subject)
print("marks: ",marks)
print("grade: ",grade)

if marks>=80:
    print("Distinction")
else:
  print("Not Distinction")

subject:  Maths
marks:  79
grade:  A
Not Distinction

***Question 3***

In [65]:
attendance=("p","a","p","p","a","p")
mon,tues,wed,thurs,fri,sat = attendance
print("Present: ",attendance.count("p"))
print("Absent: ",attendance.count("a"))
if "a" in attendance:
    print("Absent atleast once")

Present:  4
Absent:  2